<div>
	<h3>Artists</h3>
	<input ng-model="artistsField">
	<p>{{artistsField}}</p>

	<div class="list-group">
		<div class="list-group-item" ng-repeat="artist in artists | filter:{name: artistsField}">
			<a ui-sref="artist({artistId: artist._id})">{{ artist.name }}</a>
		</div>
	</div>
</div>



<!-- 
<input ng-model="typedLetters">
<table class="table">
    <thead>
        <tr>
            <th ng-repeat="letter in alphabet">
                <span ng-bind="letter"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-repeat="letter in alphabet">
                <span ng-bind="toFrequency(typedLetters)[letter]"></span>
            </td>
        </tr>
    </tbody>
</table> -->