<div >
    <h3>{{ playlist.name }}</h3>
    <table class='table' ng-show="playlist.songs.length">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Artists</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in playlist.songs" ng-class="{active: isCurrent(song)}">
                <td>
                    <button ng-hide="isCurrent(song)" ng-click="start(song)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
                <td>{{ song.name }}</td>
                <td><span ng-repeat="artist in song.artists">{{ artist.name }} </span></td>
                <td>{{ song.genres.join(', ') }}</td>
            </tr>
        </tbody>
    </table>
    <small ng-hide="playlist.songs.length">No songs.</small>
    <hr>
    <h3>Add to Playlist</h3>
    <form name="songsForm" ng-submit="addSong(selected, playlist._id)">
    Songs: <select required class="form-control"  ng-options="song as song.name for song in songs track by song._id" value="song._id" ng-model="selected"></select>
    <br>
    <input type="submit" ng-disabled="!songsForm.$dirty"></input>
    </form>
    {{selected}}
</div>